#diva-wrapper{
    float:right;
    background: #DDDDDD;
    width:calc(50% - 5px);
    height:100%;
    position:relative;
    display:inline-block;
}
.manager-sub-wrapper{
    vertical-align: top;
    width:50%;
    min-width:250px;
    max-height:500px;
    overflow-y:scroll;
    padding-left:;
    display:inline-block;
    top:0px;
}
#diva-manager-button-container{
    text-align:center;
    margin-top:5px;
}
.linkedMeiWrapper{
    margin-top:8px;
    margin-bottom:8px;
}

#linked-file-header{
    border-top: thin black solid;
    margin-top: 5px;
    padding-top: 5px;
}
#linked-file-list{
    width:100%;
    display:inline-block;
}
.linkRadioButtons{
    padding-right:3px;
    padding-left:3px;
}
#hover-div{
    z-index:101; /*toolbar-object should be above this*/
    position:absolute;
    display:none;
}