body{
    margin:0px;
    padding:0px;
}
.overlay-box{
    border: thin black solid;
    position: absolute;
    cursor: default;
}
#editor{
    float:left;
    height:100%;
    width:100%;
    position:relative;
}
#mei-editor{
    width:100%;
    height:100%;
    display:inline-block;
}
#openPages{
    z-index:50;
}
.navbar{
    margin-bottom:0px;
}
ul.dropdown-menu > li > a:hover{
    cursor:pointer;
    background-color:#EEEEEE;
};