html, body{
    overflow:hidden;
}
#topbarContent > li > a{
    cursor: pointer;
}
#openPages{
}
#pagesList > li > span{
    margin-top:.15em;
    margin-right:.35em;
    width:.8em;
    height:.8em;
    display:inline-block;
    background-size:100%;
    background-repeat: no-repeat;
}
.aceEditorPane{
    float:left;
    width:100%;
}
#mei-editor{
    width:100%;
    height:100%;
    display:inline-block;
}
.navbar{
    margin-bottom:0em;
}
ul.dropdown-menu > li > a:hover{
    cursor:pointer;
    background-color:#EEEEEE;
};
.tabIcon{
    vertical-align: center;
    text-align: middle;
    float: right;
}
.tabIcon:hover{
    background-color:#DDDDDD;
}
a:focus{
    outline:0; /*removes the dotted border*/
}
li:focus{
    outline:0; /*removes the dotted border*/
}
input.input-ui-emulator{
    float:left;
    margin: .35em .8em;
}
#newTabButton{
    float:right;
}
#editorConsole{
    font-family: Verdana, Arial, sans-serif;
    height: 15em;
    position: relative;
    padding: .35em;
    background-size:auto;
    /*border-radius: 4px; /*matches jQueryUI/Bootstrap */
}
#consoleText{
    position: absolute;
    width:100%;
    bottom: 0;
    overflow-y: scroll;
}
#consoleText::-webkit-scrollbar{
    background-color: transparent;
    width:.6em;
}
#consoleText::-webkit-scrollbar-thumb{
    background-color: #AAA;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
.regularBorder{
    border: .1em #AAAAAA solid;
}
.alertBorder{
    border: .1em #000000 solid;
}
.gutterError{
    background-color:#F00;
}
.gutterWarning{
    background-color:#FF0;
}
#consoleResizeDiv{
    z-index:10;
    position:absolute;
    width:100%;
    top:-.3em;
    height:.3em;
    cursor:ns-resize;
}